<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>proy.modelo.controlador.Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registroviaje</servlet-name>
        <servlet-class>proy.modelo.controlador.registroviaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Validar</servlet-name>
        <servlet-class>proy.modelo.controlador.Validar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>proy.modelo.controlador.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegUsuario</servlet-name>
        <servlet-class>proy.modelo.controlador.RegUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registroviaje</servlet-name>
        <url-pattern>/viaje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Validar</servlet-name>
        <url-pattern>/validar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/cerrarsesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegUsuario</servlet-name>
        <url-pattern>/regusuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
